body {
  width: 600px;
  margin-left: 650px;
  margin-right: 650px;
  margin-top: 200px;
  background-color: #222222;
  font-size: 24px;
  color: white;
}
.MID {
  width: 1000px;
  height: 1000px;
  margin: 50px;
  text-align: center;
  color: aqua;
}
.MID2 {
  text-align: center;
  margin: 0px 10px 10px 50px;
}
